<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update/<%= persona.id %>" method="post">

       <input type="text" name="DNI" placeholder="DNI" value="<%= persona.DNI %>">
       <input type="text" name="NOMBRE" placeholder="Nombre" value="<%= persona.NOMBRE %>">
       <input type="text" name="APELLIDO" placeholder="Apellido" value="<%= persona.APELLIDO %>">
       <input type="number" name="EDAD" placeholder="Edad" value="<%= persona.EDAD %>">
       <button type="submit">Enviar datos</button>

    </form>
</body>
</html>